APP_PORT=4000
POSTGRES_HOST=cart-service-db.XXXXXXX.region.rds.amazonaws.com
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB_NAME=db
POSTGRES_PORT=5432
RDS_INSTANCE_IDENTIFIER=cart-service-db
