option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    URL_CART: https://d1wr58fh208zzd.cloudfront.net/api/profile/cart
    URL_PRODUCTS: https://xcunh9a844.execute-api.eu-north-1.amazonaws.com/dev/products
    URL_LOGIN: https://d1wr58fh208zzd.cloudfront.net/api/auth/login
    URL_REGISTER: https://d1wr58fh208zzd.cloudfront.net/api/auth/register
